@use  "./variables" as var;
@use "./components/form";
@use "./components/table";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
}

.container {
    max-width: 1455px;
    margin: auto;
    padding: 0 5rem;
}

.row {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
}

.btn {
    padding: .5rem 1rem;
    font-size: .8rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-blue {
    background-color: var.$blue;
    border: none;
    color: white;
}

.btn-red {
    background-color: red;
    border: none;
    color: white;
}

.fa {
    pointer-events: none;
}

.fa-trash {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}