.form-box {
    width: 350px;
    padding: 2rem;
    background: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);

    .form-header {
        text-align: center;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.2rem;

        .label {
            padding: .3rem 0;
        }

        .npm {
            text-transform: uppercase !important;
        }

        .input-form {
            padding: .3rem;
            outline: none;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            text-transform: capitalize;
        }
    }
}