@use "../variables"as var;

.table {
    width: 100%;
    margin-left: 2rem;
    border-collapse: collapse;
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);

    th,
    td {
        border: 1px solid #ddd;
        padding: .8rem;
    }

    th {
        background-color: var.$blue;
        color: white;
    }

    tr {
        &:nth-child(odd), &:hover {
            background-color: #ddd;
        }

        .action {
            text-align: center;
        }
    }
}